{% extends "base.html" %}

{% block main_content %}
{% if SESSION['CONFIG_PARTIE'] %}
    <div class = "jeu-interface">
    <form method="post" action="jouer_s">
        <div class = "espace_equipe1">
            <h2>{{SESSION['EQUIPE_1'][3]}}</h2>
            <div class="grille-morpion-container">
            {%for i in range(0,REQUEST_VARS['nb_morpion_equipe_1'])%}
                <div class="morpion-container">
                {%if REQUEST_VARS['equipe1_active']%}
                    <input type="checkbox" id="morpion_{{ REQUEST_VARS['morpion_equipe_1'][i][0] }}" value="{{ REQUEST_VARS['morpion_equipe_1'][i] }}" name="morpion_selectionne[]">
                {% endif %}
                    <img src="{{ SESSION['DIRECTORY'] }}{{ REQUEST_VARS['morpion_equipe_1'][i][2] }}" alt="{{REQUEST_VARS['morpion_equipe_1'][i][1]}}" class="image-morpion">
                </div>
            {%endfor%}
            </div>
        </div>

        <div class = "espace_grille">
            <div>
                <input type="submit" value="Valider le déplacement" name ="valider_deplacement">
                {% if REQUEST_VARS['message_erreur'] %} <!--si on recoit un message d'erreur du controleur apres la gestion de la methiode post-->
                    <br><div style="color: red; background-color: #FFDDDD; padding: 10px; border: 1px solid red; border-radius: 5px;"><p>{{ REQUEST_VARS['message_erreur'] }}</p></div>
                {% endif %}
            </div>
            <div class="grille-container">
            {%for i in range(SESSION['CONFIG_PARTIE'][2])%}
                 <div class="row">
                {%for j in range(SESSION['CONFIG_PARTIE'][2])%}
                    <div class="cellule" id="{{i}},{{j}}">
                        <input type="checkbox" value="{{i}},{{j}}" name="case_cible[]" id="case_cible">
                    </div>
                {%endfor%}
                </div>
            {%endfor%}
            </div>
            <div>
                <h3>Tour restant : {{SESSION['CONFIG_PARTIE'][1]}}</h3>
                <h3>Équipe en action : 
                    {%if REQUEST_VARS['equipe1_active']%}
                        {{SESSION['EQUIPE_1'][3]}}
                    {%else%}
                        {{SESSION['EQUIPE_2'][3]}}
                    {%endif%}
                </h3>
            </div>
        </div>

        <div class = "espace_equipe2">
            <div class="grille-morpion-container">
            {%for i in range(0,REQUEST_VARS['nb_morpion_equipe_2'])%}
                <div class="morpion-container">
                {%if REQUEST_VARS['equipe1_active']%}
                {%else%}
                    <input type="checkbox" id="morpion_{{ REQUEST_VARS['morpion_equipe_2'][i][0] }}" value="{{ REQUEST_VARS['morpion_equipe_2'][i][2] }}" name="morpion_selectionne[]" >
                {% endif %}                   
                    <img src="{{ SESSION['DIRECTORY'] }}{{ REQUEST_VARS['morpion_equipe_2'][i][2] }}" alt="{{REQUEST_VARS['morpion_equipe_2'][i][1]}}" class="image-morpion">
                </div>
            {%endfor%}
            </div>
            <h2>{{SESSION['EQUIPE_2'][3]}}</h2>
        </div>
    </form>
    </div>


{%else%}
    <p> Aucune partie n'est configurée. Veuillez créer une partie dans le menu "créer une partie". </p>
{% endif %}
{% endblock %}