{% extends "base.html" %}

{% block main_content %}
{% if SESSION['CONFIG_PARTIE'] %}
    <div class = "jeu-interface">
    <form method="post" action="jouer_s">
        <div class = "espace_equipe1">
            <h2>{{SESSION['EQUIPE_1'][3]}}</h2>
            {%if REQUEST_VARS['equipe1_active']%}
                <label for = "sorts_equipe1">Sorts disponibles :</label>
                <select id="sorts_equipe1" name="sorts_equipe1">
                    <option value="1">Sort de feu</option>
                    <option value="2">Sort de soin</option>
                    <option value="3">Armageddon</option>   
            {%endif%}       
            <div class="grille-morpion-container">
            {%for i in range(0,REQUEST_VARS['nb_morpion_equipe_1'])%}
                <div class="morpion-container">
                {%if REQUEST_VARS['equipe1_active']%}
                    <input type="checkbox" id="morpion_{{ REQUEST_VARS['morpion_equipe_1'][i][0] }}" value="{{ REQUEST_VARS['morpion_equipe_1'][i][0] }}" name="morpion_selectionne[]">
                {% endif %}
                    <img src="{{ SESSION['DIRECTORY'] }}{{ REQUEST_VARS['morpion_equipe_1'][i][2] }}" alt="{{REQUEST_VARS['morpion_equipe_1'][i][1]}}" class="image-morpion">
                </div>
            {%endfor%}
            </div>
        </div>

        <div class = "espace_grille">
            <div>
                <input type="submit" value="Valider le déplacement" name ="valider_deplacement">
                {% if REQUEST_VARS['message_erreur'] %} <!--si on recoit un message d'erreur du controleur apres la gestion de la methiode post-->
                    <br><div style="color: red; background-color: #FFDDDD; padding: 10px; border: 1px solid red; border-radius: 5px;"><p>{{ REQUEST_VARS['message_erreur'] }}</p></div>
                {% endif %}
            </div>
            <div class="grille-container">
            {%for i in range(SESSION['CONFIG_PARTIE'][2])%}
                <div class="row">
                {%for j in range(SESSION['CONFIG_PARTIE'][2])%}
                    {% if SESSION['TAB'][i][j][0] %} <!--si la case de la grille contient un morpion, on affiche l'image de ce morpion-->
                        <div class = "cellule" id="{{i}},{{j}}"                                                                                                                                                                     >
                            <img src="{{ SESSION['DIRECTORY'] }}{{ SESSION['TAB'][i][j][1][2] }}" alt="Morpion" class="image-morpion">
                        </div>
                    {%elif (i,j) in cases_inutilisables %} <!--si la case est inutilisable (ex : armageddon) on affiche une case grisée-->
                        <div class="cellule case-inutilisable" id="{{i}},{{j}}">
                            X
                        </div>
                    {%else%} <!-- sinon on affiche le bouton de selection-->                                                                                                                                                                
                        <div class="cellule" id="{{i}},{{j}}">
                            <input type="checkbox" value="{{i}},{{j}}" name="case_cible[]" id="case_cible">
                        </div>
                    {% endif %}
                {%endfor%}
                </div>
            {%endfor%}
            </div>
            <div>
                <h3>Tour restant : {{SESSION['CONFIG_PARTIE'][1]}}</h3>
                <h3>Équipe en action : 
                    {%if REQUEST_VARS['equipe1_active']%}
                        {{SESSION['EQUIPE_1'][3]}}
                    {%else%}
                        {{SESSION['EQUIPE_2'][3]}}
                    {%endif%}
                </h3>
            </div>
        </div>

        <div class = "espace_equipe2">
            <div class="grille-morpion-container">
            {%for i in range(0,REQUEST_VARS['nb_morpion_equipe_2'])%}
                <div class="morpion-container">
                {%if REQUEST_VARS['equipe1_active']%}
                {%else%}
                    <input type="checkbox" id="morpion_{{ REQUEST_VARS['morpion_equipe_2'][i][0] }}" value="{{ REQUEST_VARS['morpion_equipe_2'][i][0] }}" name="morpion_selectionne[]" >
                {% endif %}                   
                    <img src="{{ SESSION['DIRECTORY'] }}{{ REQUEST_VARS['morpion_equipe_2'][i][2] }}" alt="{{REQUEST_VARS['morpion_equipe_2'][i][1]}}" class="image-morpion">
                </div>
            {%endfor%}
            </div>
            {%if REQUEST_VARS['equipe1_active']%}
                <label for = "sorts_equipe1">Sorts disponibles :</label>
                <select id="sorts_equipe1" name="sorts_equipe1">
                    <option value="1">Sort de feu</option>
                    <option value="2">Sort de soin</option>
                    <option value="3">Armageddon</option>   
            {%endif%}    
            <h2>{{SESSION['EQUIPE_2'][3]}}</h2>
        </div>
    </form>
    </div>


{%else%}
    <p> Aucune partie n'est configurée. Veuillez créer une partie dans le menu "créer une partie". </p>
{% endif %}
{% endblock %}